body {
  text-align: center;
}

.form-container {
  background-color: blue;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  font-size: large;
} 

label form {
  display: inline-block;
}