body {
  text-align: center;
}

.form-container {
  background-color: blue;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: right; /* Center vertically */
  font-size: large;
  float:right
}
.user-input {
float:right
}
