<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/style.css">
  <title>Mad Libs</title>
</head>
<body>
  <section>
<h1>MAD LIBS</h1>
<p>Fill in the blanks</p>

  <div class="form-container"></div>
  <form action="/story" class="input-form">

    {% for word in words %}

    <label for="{{ word }}">{{ word }}</label><input type="text" id="{{ word }}" name="{{ word }}">

    {% endfor %}

    <input type="submit" value="Submit">
</form>
</div>

</body>
</html>




</body>
</html>
